.i-home__page {
  position: relative;
  .el-menu {
    border: 0;
    .i-wrapper__container {
      flex: 1;
    }
    .i-wrapper__container__body {
      display: flex;
      align-items: center;
    }
    .i-image__container {
      width: 40px;
      margin-right: 10px;
    }
    .i-html__container {
      line-height: 55px;
      font-weight: bold;
      z-index: 10;
    }
    .el-menu-item {
      color: #777;
      z-index: 10;
    }
  }
  .i-grid__container {
    padding: 50px 50px;
    background: white;
  }
  .i-main__container {
    padding: 0;
  }
  .i-header__container {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 10;
  }
  .i-home__main {
    margin-top: 60px;
    padding: 0;
    min-height: calc(100vh - 340px);
  }
  .el-card__header {
    .i-image__container {
      width: 90px;
      height: 90px;
      margin: auto;
      border-radius: 100%;
    }
  }
  .i-card__footer {
    padding: 8px 20px;
    text-align: center;
    cursor: pointer;
    &:hover {
      background: linear-gradient(to right, #a1b6f6, #436eee);
      .el-button {
        color: white;
      }
    }
    .el-button {
      color: #436eee;
    }
  }
}
.el-carousel__container {
  height: 460px;
  background: linear-gradient(to bottom, white, rgba(#a1b6f6, 0.7));
  .i-wrapper__container__body {
    position: relative;
    padding: 0 160px;
    height: 100%;
    .i-html__container {
      position: absolute;
      bottom: 120px;
      right: 160px;
      display: block;
      font-size: 18px;
    }
    .i-component__fragment {
      position: absolute;
      bottom: 70px;
      right: 160px;
      display: block;
      .el-button {
        background-color: #436eee;
      }
    }
  }
  .el-carousel__item {
    &.item-0 {
      .i-home__carousel__item {
        height: 100%;
        background-image: url('https://songshuzhong.github.io/i-assets/public/img/img1.svg');
        background-size: 60% 400px;
        background-repeat: no-repeat;
      }
    }
    &.item-1 {
      .i-home__carousel__item {
        height: 100%;
        background-image: url('https://songshuzhong.github.io/i-assets/public/img/img2.svg');
        background-size: 60% 400px;
        background-repeat: no-repeat;
      }
    }
    &.item-2 {
      .i-home__carousel__item {
        height: 100%;
        background-image: url('https://songshuzhong.github.io/i-assets/public/img/img3.svg');
        background-size: 60% 400px;
        background-repeat: no-repeat;
      }
    }
  }
}
.el-card {
  &:hover {
    cursor: pointer;
    .el-card__header {
      .i-image__container {
        width: 90px;
        height: 90px;
        margin: auto;
        border-radius: 100%;
        background: #a1b6f6;
        animation: fillbgcolor 0.5s ease-in;
      }
    }
  }
}
.i-home__card__title {
  width: 100%;
  padding: 10px 0 20px 0;
  text-align: center;
  font-size: 18px;
}
.i-home__card__content {
  width: 100%;
  height: 45px;
  font-size: 16px;
  margin: 10px 0 20px 0;
  padding: 0 25px;
  color: #99a9bf;
  line-height: 20px;
  text-align: center;
}
.i-home__thanks,
.i-home__sponsor {
  width: 100%;
  padding: 120px 0 20px 0;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  .i-home__me {
    width: 200px;
    height: 200px;
    margin: auto;
  }
}
.i-home__thanks__images {
  .i-wrapper__container__body {
    padding: 0 130px 40px 130px;
    text-align: center;
  }
  .i-image__container {
    display: inline;
  }
  .el-image {
    width: auto;
    height: 4rem;
    margin: 1rem;
  }
}
.i-home__footer {
  width: 100%;
  height: 280px;
  margin-top: 80px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  color: #fff;
  background-color: #000;
  .i-html__container {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
  }
  .i-component__fragment {
    display: block;
  }
  .i-component__fragment + .i-component__fragment {
    margin-left: 0;
  }
}
.i-home__ball {
  z-index: 2;
  &:nth-of-type(4n + 1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 0;
    min-width: 100px;
    min-height: 100px;
    padding-bottom: 10%;
    border-radius: 100%;
    animation: i-home-ball-updown 4s 0s infinite alternate;
    background: radial-gradient(#436eee, white);
  }
  &:nth-of-type(4n + 2) {
    top: -100px;
    right: 150px;
    width: 20%;
    padding-bottom: 20%;
    height: 0;
    min-width: 100px;
    min-height: 100px;
    position: absolute;
    border-radius: 100%;
    animation: i-home-ball-updown 4s 0s infinite alternate;
    background: radial-gradient(#436eee, white);
  }
  &:nth-of-type(4n + 3) {
    top: 200px;
    right: 200px;
    width: 5%;
    padding-bottom: 5%;
    height: 0;
    min-width: 100px;
    min-height: 100px;
    position: absolute;
    border-radius: 100%;
    animation: i-home-ball-updown 4s 0s infinite alternate;
    background: radial-gradient(#436eee, white);
  }
  &:nth-of-type(4n + 4) {
    top: 400px;
    width: 100%;
    height: 200px;
    min-width: 100px;
    min-height: 100px;
    position: absolute;
    border-radius: 100%;
    animation: i-home-ball-updown 3s 0s infinite alternate;
    background: radial-gradient(#436eee, white);
  }
}
.i-home__logs {
  padding: 20px;
}

.i-website__router__loader {
  height: 3px;
  z-index: 20 !important;
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #409eff;
    transform-origin: 0 50%;
    animation: grow 1s ease-out;
  }
  .el-loading-spinner {
    display: none;
  }
}
@keyframes grow {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes fillbgcolor {
  from {
    background: white;
  }
  to {
    background: #a1b6f6;
  }
}
@keyframes i-home-ball-updown {
  0% {
    transform: translate3d(0, -5%, 0) scale(1);
  }
  100% {
    transform: translate3d(0, 3%, 0) scale(0.8);
  }
}
